textarea.elastic {
    height: 50px;
}

#navigation {
    background-color: #0086d2;
    height: 35px;
}

#navigation ul {
    margin: 0px;
    height: 35px;
}

#navigation ul li {
    display: inline;
    line-height: 35px;
    height: 35px;
    margin: 0px 0px 0px 10px;
}

#navigation a {
    color: white;
    line-height: 35px;
    height: 35px;
    font-weight: bold;
    text-decoration: none;
}

#navigation a:hover {
    text-decoration: underline;
}

#bd {
    clear: both;
}

#ft {
    border-top: 1px solid black;
    text-align: right;
}