@CHARSET "ISO-8859-1";

th {
	background-image:	url('/images/layout/th-heading.png');
	background-color:	#356AA0;
	height:				22px;
	color:				white;
}

table {
	border:	1px solid #356AA0;
}

#hd, #ft {
	background-color:	#356AA0;
}

#hd a, #ft a {
	color:	White;
}

#ft {
	color:	white;
}

#navigation ul li {
	background-color:	#356AA0;
	border-top:			1px solid #d3d3d3;
	border-left:		1px solid #d3d3d3;
	border-right:		1px solid black;
	border-bottom:		1px solid black;
}

#navigation ul li:hover {
	background-color:	#4096EE;
}

#navigation a {
	color:	white;
}

#authMessage {
	color:	red;
}

.panel {
	background-color:	#F9F9F9;
	border:				1px solid #E6E6E6;
	padding:			20px;
}

ul p.message_head {
    border:             1px solid #e6e6e6;
    background-color:   #e6e6e6;
    margin:             0px;
}

ul p.message_body {
    border:             1px solid #e6e6e6;
    background-color:   #F9F9F9;
}

tr.evenRow {
	background-color:   #F6F6F6;
}

ul li div.noteTitle {
	background-color:	#E6E6E6;
}

