@CHARSET "ISO-8859-1";

td, th {
	padding:	5px;
}

th {
	background-position:	bottom center;
	text-align:				center;
}

blockquote {
	margin-left:	20px;
	border:			none;
}

input[type=text], input[type=password] {
	width:	200px;
}

#hd {
	height:		40px;
	padding:	5px;
}

#ft {
	height:		15px;
	padding:	5px;
}

#content {
	padding:	5px;
}

ol li, ul li {
	margin-left:			20px;
	list-style-position:	inside;
}

ol li {
	list-style-type:	circle;
}

#navigation {
	padding:	5px;
}

#navigation ul li {
	margin:			0px;
	padding:	10px 5px 10px 5px;
}

#navigation {
	padding:	0px;
}

.center {
	text-align:	center;
}

.right {
	text-align:	right;
}

.left {
	text-align:	left;
}

ul.message_list p.message_body {
    display:    none;
}

ul p.message_head {
    cursor: pointer;
}

ul.message_list li {
    margin: 5px;
}
